# Object Oriented Programming

In [1]:
class Phone:

    def make_call(self):
        print("I am making phone call")
        
    def play_game(self):
        print("I am playing Game")

In [2]:
p1 = Phone()

In [3]:
p1.make_call()

I am making phone call

In [4]:
p1.play_game()

I am playing Game

In [5]:
print(p1.make_call.__doc__)

None

In [6]:
class Phone:
    def set_color(self,color):
        self.color = color
    def set_cost(self,cost):
        self.cost = cost
    def show_color(self):
        return self.color
    def show_cost(self):
        return self.cost
    def make_call(self):
        print("I am making phone call")
    def play_game(self):
        print("I am playing Game")

In [7]:
p2 = Phone()

In [8]:
p2.set_color("Blue")

In [9]:
p2.set_cost(5000)

In [10]:
p2.show_color()

'Blue'

In [11]:
p2.show_cost()

5000

In [12]:
p2.make_call()

I am making phone call

In [13]:
p2.play_game()

I am playing Game

In [14]:
class Employee:
    def __init__(self,name,age,salary,gender):
        self.name = name
        self.age = age
        self.salary = salary
        self.gender = gender
    
    def employee_details(self):
        print("Name of the employee",self.name)
        print("Age of the employee",self.age)
        print("Salary of the employee",self.salary)
        print("Gender of the employee",self.gender)

In [15]:
p3 = Employee("Aditya",14,"100000 Trillians","Male")

In [16]:
p3.employee_details()

Name of the employee Aditya
Age of the employee 14
Salary of the employee 100000 Trillians
Gender of the employee Male

In [17]:
class Employee:
    def __init__(self,name,age,salary,gender):
        self.name = name 
        self.age = age
        self.salary = salary 
        self.gender = gender
    
    def employee_details(self):
        print("Name of the employee",self.name)
        print("Age of the employee",self.age)
        print("Salary of the employee",self.salary)
        print("Gender of the employee",self.gender)

In [18]:
name = input("Enter Name of the employee\n")
age = input("Enter Age of the employee\n")
salary = input("Enter Salary of the employee\n")
gender = input("Enter Gender of the employee\n")
p4 = Employee(name,age,salary,gender)

Enter Name of the employee
Aditya
Enter Age of the employee
14
Enter Salary of the employee
100000 Trillians
Enter Gender of the employee
Male

In [19]:
p4.employee_details()

Name of the employee Aditya
Age of the employee 14
Salary of the employee 100000 Trillians
Gender of the employee Male

In [20]:
# This is base Class
# Base Class: A base class is a class in Object-Oriented Programming language, from which other classes are derived.
# The Base class members and member functions are inherited to Object of the derived class.
# A base class is also called parent class or superclass
class Vehicle:
    def __init__(self,mileage,cost):
        self.mileage = mileage 
        self.cost = cost
    def show_vehicle_details(self):
        print("I am a Vehicle")
        print("Mileage of Vehicle is",self.mileage)
        print("Cost of Vehicle is",self.cost)

In [21]:
v1 = Vehicle(500,100000)

In [22]:
v1.show_vehicle_details()

I am a Vehicle
Mileage of Vehicle is 500
Cost of Vehicle is 100000

In [23]:
class Car(Vehicle):
    def show_car_details(self):
        print("I am a car")

In [24]:
c1 = Car(500,24146415)

In [25]:
c1.show_car_details()

I am a car

In [26]:
c1.show_vehicle_details()

I am a Vehicle
Mileage of Vehicle is 500
Cost of Vehicle is 24146415

## Over-riding init Method

In [66]:
class Car(Vehicle):
    def __init__(self,mileage,cost,tyres,hp):
        super().__init__(mileage,cost)
        self.tyres = tyres
        self.hp = hp
    def show_car_details(self):
        print("I am a car")
        print("Number of types in car:",self.tyres)
        print("Horse Power of car is",self.hp)

In [67]:
c2 = Car(500,10000000,4,850)

In [72]:
c2.show_car_details()

I am a car
Number of types in car: 4
Horse Power of car is 850

In [73]:
c2.show_vehicle_details()

I am a Vehicle
Mileage of Vehicle is 500
Cost of Vehicle is 10000000

In [74]:
c2.mileage

500

In [75]:
class Car(Vehicle):
    def __init__(self,mileage,cost,tyres,hp):
        super().__init__(mileage,cost,)
        self.tyres = tyres
        self.hp = hp
    def show_car_details(self):
        print("I am a car")
        print("Mileage of Vehicle is",self.mileage)
        print("Cost of Vehicle is",self.cost)
        print("Number of types in car:",self.tyres)
        print("Horse Power of car is",self.hp)

In [76]:
c3 = Car(500,7855151,4,7777)

In [77]:
c3.hp

7777

In [79]:
c3.show_car_details()

I am a car
Mileage of Vehicle is 500
Cost of Vehicle is 7855151
Number of types in car: 4
Horse Power of car is 7777

## Types of Inheritence

In [36]:
# (1) Single Inheritence
# (2) Multiple Inheritence
# (3) Multi-level Inheritence
# (4) Hybrid Inheritence

### Multiple Inheritence

In [37]:
# In multiple inheritence, the child inherits from more than 1 parent class

In [38]:
class parent1:
    def assign_string_one(self,str1):
        self.str1 = str1
        
    def show_string_one(self):
        return self.str1

In [39]:
class parent2:
    def assign_string_Two(self,str2):
        self.str2 = str2
        
    def show_string_Two(self):
        return self.str2

In [40]:
class child(parent1,parent2):
    def assign_string_Three(self,str3):
        self.str3 = str3
    def show_string_Three(self):
        return self.str3

In [41]:
d1 = child()

In [42]:
d1.assign_string_one("Hello")
d1.assign_string_Two("World")
d1.assign_string_Three("Nope")

In [43]:
d1.show_string_one()

'Hello'

In [44]:
d1.show_string_Two()

'World'

In [45]:
d1.show_string_Two()

'World'

In [46]:
#Taking User Input

In [47]:
x = input("Enter Your line\n")
y = input("Enter Your line\n")
z = input("Enter Your line\n")
d1.assign_string_one(x)
d1.assign_string_Two(y)
d1.assign_string_Three(z)

Enter Your line
Hello
Enter Your line
World
Enter Your line
Yup

In [48]:
d1.show_string_one()

'Hello'

In [49]:
d1.show_string_Two()

'World'

In [50]:
d1.show_string_Three()

'Yup'

In [51]:
class parent1:
    def assign_string_one(self,str1):
        self.str1 = str1
    def show_string_one(self):
        return self.str1

In [52]:
a = parent1()

In [53]:
a.assign_string_one("hello")

In [54]:
a.show_string_one()

'hello'

### Multi-level Inheritence

In [55]:
# In Multi-level Inheritence, we habe Parent,child and Grand-child relationship

In [56]:
class Parent:
    def get_name(self,name):
        self.name = name
    def show_name(self):
        return self.name

In [57]:
class Child(Parent):
    def get_age(self,age):
        self.age = age
    def show_age(self):
        return self.age

In [58]:
class Grand_Child(Child):
    def get_Gender(self,gender):
        self.gender = gender
    def show_Gender(self):
        return self.gender

In [59]:
GC = Grand_Child()

In [60]:
GC.get_name("Aditya")

In [61]:
GC.get_age("14")

In [62]:
GC.get_Gender("Male")

In [63]:
GC.show_name()

'Aditya'

In [64]:
GC.show_age()

'14'

In [65]:
GC.show_Gender()

'Male'